<h1><%=@user.email%>'s Page</h1>
<!-- testing  -->
<h3>Questions Asked:</h3>
    <p>
      <%@question.each do |q|%>
      <% if q.user_id == @user.id %>
      <%= q.title %><br>
      <%= q.body %>
      <%end%>
    </p>
    <%end%>




