<h1>Welcome <%=@user.email%></h1>
<!-- testing  -->
<h3>Questions That You've Asked:</h3>
    <p>
      <%@question.each do |q|%>
      <% if q.user_id == @user.id %>
      <%= q.title %>
      <%= q.body %>
      <%end%>
    </p>
    <%end%>




